<ng-container *ngFor="let player of players">
  <div class="col-span-4 flex flex-row">
    <span class="inline-flex items-center grow">{{player!.name}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/players', player.id]">Go to details</button>
      <button mat-menu-item>Remove</button>
    </mat-menu>
  </div>
</ng-container>
<div *ngIf="!players.length">
  <p>None</p>
</div>
