<div>
  <a routerLink="/players" class="nav-button" tabindex="-1">
    <button mat-icon-button type="button">
      <mat-icon>arrow_back</mat-icon>
      Players
    </button>
  </a>
</div>
<div class="flex justify-center" *ngIf="isBusy">
  <mat-spinner></mat-spinner>
</div>
<div class="flex items-center flex-col" *ngIf="notFound">
  <h2>Not Found</h2>
  <p>No player with id {{id}} found</p>
</div>
<mat-card class="default-card" *ngIf="player">
  <mat-card-header>
    <mat-card-title class="block">
      <div class="flex flex-row">
        <span class="grow">{{player.name}}</span>
        <button mat-raised-button [disabled]="!form.dirty" color="primary" (click)="save()">Save</button>
      </div>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form" class="existing-form">
    <mat-form-field>
      <input matInput
        formControlName="name">
    </mat-form-field>
  </form>
</mat-card>
