h2 {
  margin-right: 5px;
}
div.name-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}
mat-form-field {
  width: 100%;
}

form.existing-form {
  margin-bottom: 1rem;
}

.rsvp-card {
  margin-bottom: 1rem;
}
.rsvp-button {
  margin-bottom: 1rem;
}

.details {
  p {
    margin-bottom: 0;
  }
  margin-bottom: 1em;
}

